html {
    background: #13131a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Making Flex page*/
.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 20px;
}

/* Heading */
h1 {
    color: rgb(247, 230, 0);
    font-size: 64px;
    margin: 20px;
}

h2 {
    font-size: 48px;
    color: rgb(247, 230, 0);
    margin: 10px;
}

h3 {
    font-size: 32px;
    color: rgb(247, 230, 0);
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Outputs: playerScore, computerScore, final round results  */
#roundResults {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    border: 4px solid #000000;
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
    border-radius: 10px;
    background-color: #fff; 
    margin: 10px;
}

.scores {
    display: flex;
    flex-direction: row;
    margin: -10px;
}

.scores div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 4px solid #000000;
    margin: 20px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 48px;
    color: #000000;
    background-color: #fff;
}

/* Buttons */
.optionBtn button {
    background-color: #e5ff00;
    border: 4px solid #000000;
    width: 150px;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 10px;
    color: #000000;
    margin: 30px;
}

#reset {
    margin-top: 20px;
    background-color: #e5ff00;
    color: #000000;
    font-size: 32px;
    border-radius: 10px;
    font-weight: bolder;
    padding: 12px 10px 12px 10px;
}

/* Label */
#resultsLabel {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e5ff00;
}

#playerLabel {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e5ff00;
    padding-left: 15px;
}

#compLabel {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(247, 230, 0);
    margin: 0 0 0 60px;
}